/* line 1, ../sass/_pattern.scss */
html, body {
  height: 100%;
  font-family: "elektra_light_proregular";
  font-size: 14px;
  line-height: 1.429;
  min-width: 1000px;
}
/* line 3, ../sass/_clearfix.scss */
html:before, html:after, body:before, body:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
html:after, body:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
html, body {
  *zoom: 1;
}

/* line 10, ../sass/_pattern.scss */
.main-sidebar {
  width: 230px;
  float: left;
}

/* line 14, ../sass/_pattern.scss */
.main-sidebar__section {
  margin-bottom: 15px;
  color: #5c7b98;
}

/* line 18, ../sass/_pattern.scss */
.contaner {
  width: 740px;
  float: right;
  color: #5c7b98;
}

/* line 23, ../sass/_pattern.scss */
h2 {
  font-family: "elektra_light_probold";
  font-size: 25px;
  line-height: 0.8;
}

/* line 28, ../sass/_pattern.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 1400px;
  padding-top: 35px;
  width: 1000px;
  margin: auto;
}
/* line 3, ../sass/_clearfix.scss */
.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.wrapper:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.wrapper {
  *zoom: 1;
}

/* line 38, ../sass/_pattern.scss */
.button-by-scroll {
  position: fixed;
  display: none;
  z-index: 9999;
  right: 5px;
  bottom: 250px;
}

/* line 45, ../sass/_pattern.scss */
.string-up-button {
  display: block;
  position: absolute;
  margin-top: 12px;
  margin-left: 17px;
  color: #ffffff;
}

/* line 3, ../sass/_logo-header.scss */
.logo-for-header {
  vertical-align: bottom;
}

/* line 6, ../sass/_logo-header.scss */
.main-header__box-for-logo {
  width: 200px;
  margin: auto;
}

/* line 10, ../sass/_logo-header.scss */
.section-logo {
  background-color: white;
}

/* line 1, ../sass/_callback.scss */
.callback-form__wrap__section__input, .callback-form__wrap__section__textarea {
  font-size: 12px;
  line-height: 1.667;
  padding: 7px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #dae1eb;
  background-color: white;
}

/* line 13, ../sass/_callback.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.667;
  color: #dae1eb;
  font-family: "elektra_light_proregular";
}

/* line 19, ../sass/_callback.scss */
.callback-form__wrap__section__textarea {
  min-width: 204px;
  max-width: 204px;
  min-height: 71px;
  max-height: 71px;
}

/* line 25, ../sass/_callback.scss */
.callback-form {
  background-color: #f4f6f9;
  padding: 7px 13px;
}
/* line 3, ../sass/_clearfix.scss */
.callback-form:before, .callback-form:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.callback-form:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.callback-form {
  *zoom: 1;
}

/* line 31, ../sass/_callback.scss */
.callback-form__header {
  text-align: center;
}

/* line 34, ../sass/_callback.scss */
#nameForCallback, #telefonForCallback {
  display: inline-block;
  width: 136px;
  height: 28px;
  float: right;
}

/* line 40, ../sass/_callback.scss */
.callback-form__wrap__section {
  margin-bottom: 15px;
}
/* line 3, ../sass/_clearfix.scss */
.callback-form__wrap__section:before, .callback-form__wrap__section:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.callback-form__wrap__section:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.callback-form__wrap__section {
  *zoom: 1;
}

/* line 44, ../sass/_callback.scss */
.callback-form__wrap__section__label {
  float: left;
  max-height: 28px;
  padding: 3px 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 52, ../sass/_callback.scss */
.callback-form__wrap__section__button {
  width: 90px;
  height: 35px;
  font-size: 15px;
  font-family: "elektra_light_probold";
  color: white;
  border: none;
}

/* line 60, ../sass/_callback.scss */
#buttonSubmit {
  background-color: #00b9fe;
  float: left;
}

/* line 65, ../sass/_callback.scss */
#buttonReset {
  background-color: #dae1eb;
  float: right;
}

/* line 70, ../sass/_callback.scss */
.jspVerticalBar, .jspTrack {
  width: 7px;
  background-color: transparent !important;
}

/* line 75, ../sass/_callback.scss */
.jspDrag {
  background: #00b9fe;
  width: 7px;
}

/* line 79, ../sass/_callback.scss */
.selectbox__dropdown-list {
  list-style-type: none;
  padding-left: 0px;
}

/* line 1, ../sass/_gallery-images.scss */
.box-for-picture {
  width: 70px;
  height: 70px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  background-color: green;
  list-style-type: none;
}

/* line 10, ../sass/_gallery-images.scss */
.gallery {
  margin-left: -10px;
  margin-right: -10px;
  padding: 0px;
}
/* line 3, ../sass/_clearfix.scss */
.gallery:before, .gallery:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.gallery:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.gallery {
  *zoom: 1;
}

/* line 1, ../sass/_coordinates.scss */
.coordinates-wrap {
  max-width: 230px;
  background-color: #f4f6f9;
  padding: 12px 23px 0px;
}

/* line 6, ../sass/_coordinates.scss */
.coordinates {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-align: center;
}

/* line 12, ../sass/_coordinates.scss */
.coordinates__list {
  display: inline-block;
  margin-left: 0px;
  margin: auto;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  padding-left: 17px;
  background-position: 0px 1px;
  text-align: left;
}

/* line 22, ../sass/_coordinates.scss */
.adress {
  background-image: url(../img/Ellipse.png);
}

/* line 25, ../sass/_coordinates.scss */
.telefon {
  background-image: url(../img/Layer49.png);
  min-height: 22px;
}
/* line 28, ../sass/_coordinates.scss */
.telefon:hover {
  background-image: url(../img/Layer48.png);
}

/* line 33, ../sass/_coordinates.scss */
.coordinates__list__link {
  margin-left: 4px;
  display: inline-block;
  text-decoration: none;
  color: #5c7b98;
}

/* line 1, ../sass/_index.scss */
.section-by-container {
  margin-bottom: 40px;
}

/* line 7, ../sass/_index.scss */
.section-by-container__header-string {
  text-align: center;
  margin: 0px;
}
/* line 10, ../sass/_index.scss */
.section-by-container__header-string:before {
  content: "";
  display: block;
  float: left;
  height: 2px;
  width: 230px;
  background-color: #5c7b98;
  margin-top: 9px;
}
/* line 19, ../sass/_index.scss */
.section-by-container__header-string:after {
  content: "";
  display: block;
  height: 2px;
  width: 230px;
  background-color: #5c7b98;
  margin-top: 9px;
  float: right;
}

/* line 29, ../sass/_index.scss */
.product-item {
  list-style-type: none;
  width: 230px;
  min-height: 249px;
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: 25px;
  margin-left: 25px;
  border: solid 1px #dce2ec;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
  vertical-align: bottom;
}
/* line 44, ../sass/_index.scss */
.product-item:hover {
  box-shadow: 0px 0px 5px 1px #dce2ec;
}

/* line 48, ../sass/_index.scss */
.product-list {
  margin-left: -25px;
  padding-left: 0px;
}
/* line 3, ../sass/_clearfix.scss */
.product-list:before, .product-list:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.product-list:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.product-list {
  *zoom: 1;
}

/* line 53, ../sass/_index.scss */
.product__characteristic-list {
  list-style-type: none;
  padding-left: 0px;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

/* line 60, ../sass/_index.scss */
.product__header {
  position: relative;
  height: 100px;
  padding: 0px 10px 0px 10px;
}
/* line 3, ../sass/_clearfix.scss */
.product__header:before, .product__header:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.product__header:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.product__header {
  *zoom: 1;
}

/* line 67, ../sass/_index.scss */
.product-picture {
  float: left;
  position: absolute;
  bottom: 0px;
}

/* line 72, ../sass/_index.scss */
.product-link {
  font-size: 15px;
  color: #00b9fe;
  line-height: 1.333;
  display: inline-block;
  width: 114px;
  float: right;
  margin-top: 50px;
}

/* line 81, ../sass/_index.scss */
.characteristik-item__string {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 3, ../sass/_clearfix.scss */
.characteristik-item__string:before, .characteristik-item__string:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.characteristik-item__string:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.characteristik-item__string {
  *zoom: 1;
}

/* line 88, ../sass/_index.scss */
.characteristik-item__item {
  display: inline-block;
  max-width: 60%;
  overflow: hidden;
}

/* line 93, ../sass/_index.scss */
.index {
  float: left;
}

/* line 96, ../sass/_index.scss */
.value {
  float: right;
}

/* line 1, ../sass/_footer.scss */
.fotter-contaner {
  width: 1000px;
  margin: auto;
}
/* line 3, ../sass/_clearfix.scss */
.fotter-contaner:before, .fotter-contaner:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.fotter-contaner:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.fotter-contaner {
  *zoom: 1;
}
/* line 5, ../sass/_footer.scss */
.fotter-contaner .left {
  float: left;
}
/* line 8, ../sass/_footer.scss */
.fotter-contaner .center {
  float: left;
  width: 540px;
}
/* line 12, ../sass/_footer.scss */
.fotter-contaner .right {
  float: right;
}

/* line 16, ../sass/_footer.scss */
.main-footer {
  background-color: #6b459a;
  background-image: url(../img/Layer26.png);
}

/* line 20, ../sass/_footer.scss */
.main-footer__fotter-contaner__section {
  width: 230px;
  height: 240px;
  display: table;
}

/* line 25, ../sass/_footer.scss */
.container-for-center {
  display: table;
}

/* line 1, ../sass/_logo-footer.scss */
.logo-footer {
  display: table-cell;
  vertical-align: middle;
}
/* line 4, ../sass/_logo-footer.scss */
.logo-footer .container-for-center {
  float: left;
}

/* line 1, ../sass/_footer-menu.scss */
.main-footer__footer-menu {
  display: table-cell;
  vertical-align: middle;
}
/* line 4, ../sass/_footer-menu.scss */
.main-footer__footer-menu .container-for-center {
  margin: auto;
}

/* line 8, ../sass/_footer-menu.scss */
.main-footer__footer-menu__section {
  display: inline-block;
  margin: 30px;
}

/* line 13, ../sass/_footer-menu.scss */
.main-footer__footer-menu__section__header__string,
.footer-menu__section__list__link {
  margin: 0px;
  font-family: "elektra_light_probold";
  color: white;
  font-size: 15px;
  line-height: 1.667;
}

/* line 20, ../sass/_footer-menu.scss */
.footer-menu__section__list__link {
  font-family: "elektra_light_proregular";
}

/* line 23, ../sass/_footer-menu.scss */
.main-footer__footer-menu__section__list__wrap {
  list-style-type: none;
  padding: 0px;
  margin-top: 0;
}

/* line 1, ../sass/_online-store.scss */
.online-services {
  display: table-cell;
  vertical-align: middle;
}
/* line 4, ../sass/_online-store.scss */
.online-services .container-for-center {
  float: right;
}

/* line 8, ../sass/_online-store.scss */
.store__item {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

/* line 13, ../sass/_online-store.scss */
.store__list {
  margin: 0px;
  padding: 0px;
}

/* line 17, ../sass/_online-store.scss */
.store__list__link {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  display: block;
  width: 90px;
  height: 32px;
}

/* line 25, ../sass/_online-store.scss */
.app-store {
  background-image: url(../img/Layer23.png);
}

/* line 28, ../sass/_online-store.scss */
.google-store {
  background-image: url(../img/Layer24.png);
}

/* line 1, ../sass/_tooltip.scss */
.tooltip {
  display: inline-block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity0 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 10, ../sass/_tooltip.scss */
.inner__inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}
/* line 20, ../sass/_tooltip.scss */
.inner__inner:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}

/* line 31, ../sass/_tooltip.scss */
.tooltip_right, .tooltip_left {
  padding: 0 5px;
}
/* line 35, ../sass/_tooltip.scss */
.tooltip_right .inner__inner:after, .tooltip_left .inner__inner:after {
  top: 50%;
  margin-top: -5px;
}

/* line 41, ../sass/_tooltip.scss */
.tooltip_top, .tooltip_bottom {
  padding: 5px 0;
}
/* line 45, ../sass/_tooltip.scss */
.tooltip_top .inner__inner:after, .tooltip_bottom .inner__inner:after {
  left: 50%;
  margin-left: -5px;
}

/* line 60, ../sass/_tooltip.scss */
.tooltip_top .inner__inner:after {
  bottom: 0;
  border-top-color: #000;
  border-bottom-width: 0px;
}

/* line 60, ../sass/_tooltip.scss */
.tooltip_left .inner__inner:after {
  right: 0;
  border-left-color: #000;
  border-right-width: 0px;
}

/* line 60, ../sass/_tooltip.scss */
.tooltip_right .inner__inner:after {
  left: 0;
  border-right-color: #000;
  border-left-width: 0px;
}

/* line 60, ../sass/_tooltip.scss */
.tooltip_bottom .inner__inner:after {
  top: 0;
  border-bottom-color: #000;
  border-top-width: 0px;
}

/* line 1, ../sass/_slider.scss */
.slider {
  height: 300px;
  overflow: hidden;
}

/* line 5, ../sass/_slider.scss */
.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 5000px;
  position: relative;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  left: 0;
}
/* line 3, ../sass/_clearfix.scss */
.slider-list:before, .slider-list:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.slider-list:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.slider-list {
  *zoom: 1;
}

/* line 18, ../sass/_slider.scss */
.slider-layer {
  width: 750px;
}

/* line 21, ../sass/_slider.scss */
.slider-item {
  float: left;
}

/* line 24, ../sass/_slider.scss */
.slide_wrap {
  width: 740px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

/* line 30, ../sass/_slider.scss */
.container__slider-layer {
  width: 740px;
  position: relative;
  bottom: 180px;
}
/* line 3, ../sass/_clearfix.scss */
.container__slider-layer:before, .container__slider-layer:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_clearfix.scss */
.container__slider-layer:after {
  clear: both;
}
/* line 10, ../sass/_clearfix.scss */
.container__slider-layer {
  *zoom: 1;
}

/* line 36, ../sass/_slider.scss */
.slider__button-left, .slider__button-right {
  display: block;
  right: 10px;
  width: 60px;
  height: 40px;
  background-color: #f7f7f7;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 0;
  font-size: 17px;
  color: #5c7b98;
  line-height: 1.2;
  font-family: "elektra_light_probold";
  cursor: pointer;
}

/* line 53, ../sass/_slider.scss */
.slider__button-left {
  float: left;
  left: 20px;
  position: relative;
}
/* line 57, ../sass/_slider.scss */
.slider__button-left:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -15px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 15px solid #f7f7f7;
  top: 50%;
  margin-top: -20px;
}
/* line 70, ../sass/_slider.scss */
.slider__button-left:hover {
  color: #ffffff;
  background-color: #00b9fe;
}
/* line 74, ../sass/_slider.scss */
.slider__button-left:hover::after {
  border-right: 15px solid #00b9fe;
}

/* line 78, ../sass/_slider.scss */
.slider__button-right {
  float: right;
  right: 20px;
  position: relative;
}
/* line 82, ../sass/_slider.scss */
.slider__button-right:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 100%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #f7f7f7;
  top: 50%;
  margin-top: -20px;
}
/* line 95, ../sass/_slider.scss */
.slider__button-right:hover {
  color: #ffffff;
  background-color: #00b9fe;
}
/* line 99, ../sass/_slider.scss */
.slider__button-right:hover::after {
  border-left: 15px solid #00b9fe;
}

/* line 103, ../sass/_slider.scss */
.slider-commit {
  height: 76px;
  position: relative;
  bottom: 83px;
  background-color: black;
  opacity: 0.549;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 115, ../sass/_slider.scss */
span.slider-commit__string {
  display: block;
  line-height: 1.2;
  font-size: 18px;
  color: #FFFFFF;
}

/* line 121, ../sass/_slider.scss */
.slider-commit__link {
  color: #00b9fe;
  line-height: 1.2;
  font-size: 18px;
}

/* line 1, ../sass/__social.scss */
.social-network__list {
  padding-left: 0px;
}

/* line 4, ../sass/__social.scss */
.social-network__item {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

/* line 9, ../sass/__social.scss */
.social-network__link {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(../img/Layer25.png);
  background-repeat: no-repeat;
}

/* line 19, ../sass/__social.scss */
.link_vk {
  background-position: 0px 0px;
}

/* line 22, ../sass/__social.scss */
.link_tw {
  background-position: -105px 0px;
}

/* line 25, ../sass/__social.scss */
.link_fb {
  background-position: -55px 0px;
}
