extend includes/_layout
block title 
    |Гланая страница
block contaner
  section.section-by-container
    include includes/_slider
    
  section.section-by-container
    header.section-by-container__header
      h2.section-by-container__header-string Популярные товары
    ul.product-list
      li.product-item
        header.product__header
          img(src="img/Layer10.png", alt="моноблок" class="product-picture")
          a(href="#" class="product-link") Apple Thunderb Display 27"
        ul.product__characteristic-list
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Артикул
              li.characteristik-item__item.value
                |42787825
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Опция
              li.characteristik-item__item.value
                |включена
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Цвет
              li.characteristik-item__item.value
                |серебристый
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Размер
              li.characteristik-item__item.value
                |1280*1245*90
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Вес
              li.characteristik-item__item.value
                |9 кг
      li.product-item
        header.product__header
          img(src="img/Layer51.png", alt="моноблок" class="product-picture")
          a(href="#" class="product-link") IMac 27"
        ul.product__characteristic-list
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Артикул
              li.characteristik-item__item.value
                |42787825
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Опция
              li.characteristik-item__item.value
                |включена
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Цвет
              li.characteristik-item__item.value
                |серебристый
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Размер
              li.characteristik-item__item.value
                |1280*1245*90
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Вес
              li.characteristik-item__item.value
                |9 кг
      li.product-item
        header.product__header
          img(src="img/Layer52.png", alt="моноблок" class="product-picture")
          a(href="#" class="product-link") iPhone 5s Gold
        ul.product__characteristic-list
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Артикул
              li.characteristik-item__item.value
                |42787825
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Опция
              li.characteristik-item__item.value
                |включена
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Цвет
              li.characteristik-item__item.value
                |серебристый
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Размер
              li.characteristik-item__item.value
                |1280*1245*90
          li.characteristik-item
            ul.characteristik-item__string
              li.characteristik-item__item.index
                |Вес
              li.characteristik-item__item.value
                |9 кг
            
        
  section.section-by-container
    header.section-by-container__header
      h2.section-by-container__header-string Товары со скидкой
      ul.product-list
        li.product-item
          header.product__header
            img(src="img/Layer53.png", alt="моноблок" class="product-picture")
            a(href="#" class="product-link") iPad Air Wi-Fi 128GB - Silver
          ul.product__characteristic-list
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Артикул
                li.characteristik-item__item.value
                  |42787825
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Опция
                li.characteristik-item__item.value
                  |включена
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Цвет
                li.characteristik-item__item.value
                  |серебристый
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Размер
                li.characteristik-item__item.value
                  |1280*1245*90
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Вес
                li.characteristik-item__item.value
                  |9 кг
        li.product-item
          header.product__header
            img(src="img/Layer54.png", alt="моноблок" class="product-picture")
            a(href="#" class="product-link") Apple iPod nano 7G 16 ГБ Blue
          ul.product__characteristic-list
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Артикул
                li.characteristik-item__item.value
                  |42787825
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Опция
                li.characteristik-item__item.value
                  |включена
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Цвет
                li.characteristik-item__item.value
                  |серебристый
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Размер
                li.characteristik-item__item.value
                  |1280*1245*90
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Вес
                li.characteristik-item__item.value
                  |9 кг
        li.product-item
          header.product__header
            img(src="img/Layer55.png", alt="моноблок" class="product-picture")
            a(href="#" class="product-link") Роутер Wi-Fi Apple AirPort
          ul.product__characteristic-list
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Артикул
                li.characteristik-item__item.value
                  |42787825
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Опция
                li.characteristik-item__item.value
                  |включена
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Цвет
                li.characteristik-item__item.value
                  |серебристый
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Размер
                li.characteristik-item__item.value
                  |1280*1245*90
            li.characteristik-item
              ul.characteristik-item__string
                li.characteristik-item__item.index
                  |Вес
                li.characteristik-item__item.value
                  |9 кг
    
      
      
            
        
