html,body {
  height: 100%;
  font-family: "elektra_light_proregular";
  font-size: 14px;
  line-height: 1.429;
  @include clearfix;

}
.main-sidebar {
  width: 230px;
  float: left;
}
.main-sidebar__section {
  margin-bottom: 15px;
  color: rgb(92, 123, 152);
}
.contaner {
  width: 740px;
  float: right;
  color: rgb(92, 123, 152);
}
h2 {
  font-family: "elektra_light_probold";
  font-size: 25px;
  line-height: 0.8;
}
.wrapper {
  @include clearfix;
  min-height: 100%;
	height: auto!important;
	height: 100%;
	width: 1400px;
  padding-top: 35px;
  width: 1000px;
  margin: auto;
}
.button-by-scroll{
 position: fixed;
 display: none;
 z-index: 9999;
 right: 5px;
 bottom:250px;
}
.string-up-button {
  display: block;
  position: absolute;
  margin-top: 12px;
  margin-left: 17px;
  color: #ffffff;
}
