ul.coordinates
  li.coordinates__list
    div.coordinates__list_box-icon
    a(href="#") г.Москва, ул.Новая 246, офис 214
  li.coordinates__list
    div.coordinates__list_box-icon
    a(href="tel:+79213221232") +7(921) 322-12-32
