div.coordinates-wrap
  ul.coordinates
    li.coordinates__list.adress
      a(href="#" class="coordinates__list__link") г.Москва, ул.Новая 246, офис 214
    li.coordinates__list.telefon
      a(href="tel:+79213221232" class="coordinates__list__link") +7(921) 322-12-32
