// Главный футер
footer.main-footer
	section.main-footer__section
		div.main-footer__section__logo
			img(src="img/logo_copy.png" alt="Логотип")
	section.main-footer__section
		div.main-footer__footer-menu
			section.main-footer__footer-menu__section
				header.main-footer__footer-menu__section__header
					h3.main-footer__footer-menu__section__header__string О магазине
				ul.main-footer__footer-menu__section__list__wrap
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") О нас
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Наши цены
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Наши скидки
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Акции
			section.main-footer__footer-menu__section
				header.main-footer__footer-menu__section__header
					h3.main-footer__footer-menu__section__header__string Каталог
				ul.main-footer__footer-menu__section__list__wrap
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Смартфоны
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Планшеты
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Компьютеры
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Аксессуары
			section.main-footer__section
				header.main-footer__footer-menu__section__header
					h3.main-footer__footer-menu__section__header__string Контакты
				ul.main-footer__footer-menu__section__list__wrap
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Телефоны
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Адреса
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Карта проезда
					li.main-footer__footer-menu__section__list
						a(href="#" class="footer-menu__section__list__link") Обратная связь
	section.main-footer__section
		div.other-services
			ul.other-services__store
				li.other-services__store__list
					a(href="#" class="other-services__store__list__link") App Store
				li.other-services__store__list
					a(href="#" class="other-services__store__list__link") Google Store
			ul.other-services__social
				li.other-services__social__list
					a(href="#" class="other-services__social__list__link") ВКонтакте
				li.other-services__social__list
					a(href="#" class="other-services__social__list__link") Facebook
				li.other-services__social__list
					a(href="#" class="other-services__social__list__link") Twitter
