// Главный футер
footer.main-footer
	div.fotter-contaner
		section.main-footer__fotter-contaner__section.left
			include _logo-footer
		section.main-footer__fotter-contaner__section.center
			include _footer-menu
		section.main-footer__fotter-contaner__section.right
			div.online-services
				div.container-for-center
					include _online-store
					include _social
