ul.gallery.clearfix
  li.box-for-picture
    img(src="" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="" alt="Природа" class="images-for-gallery")
