ul.gallery.clearfix
  li.box-for-picture
    img(src="../img/nature9.png" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="../img/nature1.png" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="../img/nature2.png" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="../img/nature3.png" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="../img/nature4.png" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="../img/nature5.png" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="../img/nature6.png" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="../img/nature7.png" alt="Природа" class="images-for-gallery")
  li.box-for-picture
    img(src="../img/nature8.png" alt="Природа" class="images-for-gallery")  
