head
	meta(charset="UTF-8")
	title Главная страница
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="Интернет магазин Apple")
	meta(name="author" content="Набиев Рустам")
	//CSS
	link(rel="stylesheet", href="bower/normalize.css/normalize.css")
	link(rel="stylesheet", href="fonts/stylesheet.css")
	link(rel="stylesheet", href="css/main.css")
	//JS
	script(type="application/javascript", src="bower/modernizer/modernizr.js")