.slider
  .slide_wrap
    ul.slider-list
      li.slider-item.active
        img(src="img/mac.png", alt="Картинка слайдера")
        .slider-commit
          a(href="#" class="slider-commit__link") IMac за пол цены
          span.slider-commit__string
            |Приниси свой старый Мас и получи нановый!
      li.slider-item
        img(src="img/phone.png", alt="Картинка слайдера")
        .slider-commit
          a(href="#" class="slider-commit__link") До 31 декабря, iPhone 4 за 9900 руб.
          span.slider-commit__string
            |Выйграй iPad Air за самый необычный  и интерены
      li.slider-item
        img(src="img/phone2.png", alt="Картинка слайдера")
        .slider-commit
          a(href="#" class="slider-commit__link") Конкурс на концепт IPhone 7
          span.slider-commit__string
            |Выйграй iPad Air за самый необычный  и интереный дизайн нового iPhone 7.
  .slider-layer
    .container__slider-layer
      .slider__button-left.slider-button Пред.
      .slider__button-right.slider-button След.
    .picture-info
