div.social-network
  ul.social-network__list
    li.social-network__item
      a(href="#" class="social-network__link link_vk") ВКонтакте
    li.social-network__item
      a(href="#" class="social-network__link link_tw") Twitter
    li.social-network__item
      a(href="#" class="social-network__link link_fb") Facebook
