div.wrapper
	aside.main-sidebar
		section.main-sidebar__section
				include _logo-header
		section.main-sidebar__section
				include _callback
		section.main-sidebar__section
				include _gallery-images
		section.main-sidebar__section
				include _coordinates
	main.contaner
		block contaner
include _tooltip
